#wppaw_recent_dashboard_widget .inside ul li {
    margin-top: 8px;
}

#wppaw_recent_dashboard_widget .inside ul li span.wppaw-title{
    color: #777;
    float: left;
    margin-right: 8px;
    width: 350px;
}

#wppaw_recent_dashboard_widget .inside ul li span.wppaw-actions{
    float: right;
    color: #777;
}

#wppaw_recent_dashboard_widget .inside .wppaw-pagination{
    margin-top: 10px;
}

#wppaw_recent_dashboard_widget .inside .wppaw-pagination span{
    color: #777;
    margin-left: 12px;
}
